#color>p{
  text-align: center;
  color: white;
  margin: 1em 0 0 0;
}
/* .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: rgba(241, 10, 122, 1);
}
.navbar-nav>li>.dropdown-menu{

    padding: 11%;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover
{
  color: rgba(241, 10, 122, 1);
} */
