.footer{
  width: 100%;
  margin: 0px;
  text-align: center;

  padding: unset;
}
.footer ul{
  width: 100%;
  text-align: center;
}
.footer ul li{
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 2em 0.6em 0.5em;
}
.footer ul li a{
  font-size: 25px;
  text-decoration: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footer ul li a:hover{
    color: rgba(241, 10, 122, 1);
}
